﻿@model DAR.Web.ViewModels.LanceViewModel

@{
    ViewData["Title"] = "Realizar Novo Lance";
}
<style>
    h1, select, input {
        text-align-last: center;
    }
</style>

<h1 style="padding-top: 20px">@ViewData["Title"] </h1>
<hr />
<vc:Summary></vc:Summary>
<center>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="padding-top: 20px">
                    <h6>Escolha um Produto da Lista</h6>
                    <select asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
                </div>
                <div class="form-group" style="padding-top: 5px; display:none" id="txtValorAtual">
                    <label class="control-label">Valor lance atual</label>
                    <h4 id="lanceatual"><strong>?</strong></h4>
                </div>
                <div class="form-group" style="padding-top: 20px">
                    <h6>Escolha uma Pessoa da Lista</h6>
                    <select asp-for="PessoaId" class="form-control" asp-items="ViewBag.PessoaId"></select>
                </div>
                <div class="form-group" style="padding-top: 20px">
                    <label asp-for="ValorLance" class="control-label" style="font-weight:bold"></label>
                    <input asp-for="ValorLance" class="form-control" />
                    <span asp-validation-for="ValorLance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Confirmar" class="btn btn-primary" />
                    <a class="btn btn-info" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</center>
<br />
<div class="mb-5"></div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
       $('#ProdutoId').change(function () {
           var produtoId = $("#ProdutoId option:selected").val()
           $("#txtValorAtual").show();
           $.ajax({
                type: 'get',
                url: '/Lances/LanceAtual',
                dataType: 'json',
                cache: false,
                contentType: 'application/json',
                data: { id: produtoId },
               success: function (data) {
                   $("#lanceatual").html("R$ "+data.toFixed(2))
                }               
            });

       });
    </script>
}
