﻿@model DAR.Web.ViewModels.LanceViewModel

@{
    ViewData["Title"] = "Excluir lance código " + Model.Id + " no produto " + Model.Produto.Nome;
}

<h4 style="padding-top: 50px; ">@ViewData["Title"] </h4>

<h5>Você tem certeza disso?</h5>
<br />

<div class="p-3 mb-2" style="background-color:white">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorLance)
        </dd>
    </dl>
</div>
<div class="p-2">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
    </form>
</div>
<br />
<div class="mb-5"></div>
<hr />