﻿@model DAR.Web.ViewModels.LanceViewModel

@{
    ViewData["Title"] = "Detalhe do Lance de código " + Model.Id + " no produto " + Model.Produto.Nome;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<br />
<div class="p-3 mb-2" style="background-color:white">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorLance)
        </dd>
    </dl>
</div>
<div class="p-2">
    <a class="btn btn-danger" asp-controller="Lances" asp-action="Delete" asp-route-id="@Model.Id">Excluir</a>
    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
</div>
<br />
<div class="mb-5"></div>
<hr />