﻿@model IEnumerable<DAR.Web.ViewModels.LanceViewModel>

@{
    ViewData["Title"] = "Lista de Lances";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <style>

        thead {
            background: rgba(0,0,0,0.6);
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            justify-items: center;
        }

        th, td {
            text-align: center;
        }
    </style>
}
<center>
    <h1>@ViewData["Title"]</h1>
</center>
<hr />
<p>
    <a class="btn btn-info" asp-action="Create">Nova Lance</a>
    <span> <a class="btn btn-outline-info p-1" onclick="window.print()">Imprimir</a></span>
    <a class="btn btn-info p-1" href="javascript:window.history.back();">Voltar</a>
</p>
<vc:Summary></vc:Summary>
<table id="tabela" class="table  table-responsive-sm  hover" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorLance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorLance)
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam> </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="mb-5"></div>
<hr />

@section scripts {

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
                },
                "aaSorting": [[3, "desc"]],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });
            $('#tabela tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            $('#button').click(function () {
                alert(table.rows('.selected').data().length + ' row(s) selected');
            });
        });
    </script>

}

