﻿@model DAR.Web.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhe do Produto " + Model.Nome;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<br />
<div class="p-3 mb-2" style="background-color:white">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div class="p-2">
    <a class="btn btn-dark" asp-controller="Produtos" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-danger" asp-controller="Produtos" asp-action="Delete" asp-route-id="@Model.Id">Excluir</a>
    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
</div>
<br />
<div class="mb-5"></div>
<hr />