﻿
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 style="text-align:center" id="msgRetorno" style="padding-top: 20px">Opa! Algo deu errado :(</h3>
        <div style="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 style="text-align:center" id="msgRetorno">@ViewBag.Sucesso</h3>
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 style="text-align:center" id="msgRetorno">@Html.Raw(TempData["Sucesso"].ToString())</h4>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.lanceok))
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 style="text-align:center" id="msgRetorno">@ViewBag.lanceok</h3>
    </div>
}

@if (TempData["errocombo"] != null)
{
    <div style="padding-top: 15px"></div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h4 style="text-align:center">@Html.Raw(TempData["errocombo"].ToString())</h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["lanceok"] != null)
{
    <div style="padding-top: 15px"></div>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 style="text-align:center">@Html.Raw(TempData["lanceok"].ToString())</h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["errolance"] != null)
{
    <div style="padding-top: 15px"></div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 style="text-align:center">@Html.Raw(TempData["errolance"].ToString())</h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["Erro"] != null)
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 style="text-align:center" id="msgRetorno">@Html.Raw(TempData["Erro"].ToString())</h4>
    </div>
}

