﻿@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center" style="padding-top: 20px">
    <h1 class="display-4" style="font-weight:bold">Bem vindo ao Leilão</h1>
    <p>Sobre o <a href="https://www.linkedin.com/in/daniel-ramiro/">desenvolvedor</a>.</p>
</div>
<center style="padding-top: 30px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                <h6>Selecione um produto para ver os lances</h6>
                <div style="text-align-last:center">
                    @Html.DropDownList("ProdutoId", null, htmlAttributes: new { @class = "form-control col-sm-12 " })
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</center>
<center style="padding-top: 20px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                <h6>ou</h6>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</center>
<center style="padding-top: 50px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5>Realize um Lance</h5>
            <a class="btn btn-info btn-lg pl-5 pr-5 " asp-controller="Lances" asp-action="Create">Novo Lance</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</center>
<br />
<div class="mb-5"></div>
<hr />
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 style="text-align:center">Selecione um produto da lista de produtos</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $('#ProdutoId').change(function () {
            var produtoId = $("#ProdutoId option:selected").val()
            if (produtoId == 0) {
              
                $('#myModal').modal('toggle')
            } else {
               window.location.href = '@Url.Action("BuscaRapida", "Lances" , new {id = "ID"})'.replace("ID",produtoId);
            }
         });
    </script>
}

