﻿@model DAR.Web.ViewModels.PessoaViewModel


@{
    ViewData["Title"] = "Excluir Pessoa " + Model.Nome;
}

<h2 style="padding-top: 50px">@ViewData["Title"] </h2>

<h5>* No momento está opção está programada para excluir todos seus lances juntos.</h5>

<div style="padding-top: 15px"></div>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 style="font-weight:bold; ">Você tem certeza disso?</h4>
</div>
<br />
<div class="p-3 mb-2" style="background-color:white">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
    </dl>
</div>
<div class="p-2">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
    </form>
</div>
<br />
<div class="mb-5"></div>
<hr />